/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */
div {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}
#header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 20px;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 250px;
    background-color: rgb(119, 119, 119);
    
    
}
#menu a {
    text-decoration: none;
    color: white;
    background-color: rgb(119, 119, 119);
    padding: 20px;
}

#menu a:hover{
    background-color: rgb(0, 0, 0);
}
#hero {
    background-color: rgb(119, 119, 119);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 120px;
}
#baslik {
    font-size: 35px;
    padding: 0;
    margin: 0;
}
/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */